# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Colorful Figures.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\Colorful Figures\.idea\.idea.Colorful Figures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
