# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Colorful-Figures.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\Colorful-Figures\.idea\.idea.Colorful-Figures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
